body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('cled.jpeg'); /* Ruta de tu imagen de fondo */
    background-size: cover;            /* Cubre toda la pantalla */
    background-position: center;       /* Centrado */
    background-repeat: no-repeat;      /* No se repite */
}

.container {
    background: rgb(49, 109, 139);
    padding: 50px;
    border-radius: 20px;
    width: 450px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.button-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.button-group button {
    flex: 1;
    padding: 10px;
    margin: 0 5px;
    background: #f44280;
    color: rgb(8, 7, 7);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form {
    display: none;
    flex-direction: column;
}

form label {
    margin-top: 10px;
}

form input {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    margin-top: 20px;
    padding: 10px;
    background: rgb(2, 191, 160);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

p {
    margin-top: 10px;
    font-weight: bold;
}

.logo {
    display: block;
    margin: 0 auto 30px auto;
    width: 100px; /* ajusta el tamaño como prefieras */
    height: auto;
}